header{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: black;
    width: 100%;
}
header ul{
    list-style: none;
    display: flex;
    flex-direction: row;
}
header ul li{margin: 10px;}

nav {
    background-color: #000000;
    color: #FFF;
    display: flex;
    flex-direction: row;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    color: rgb(255, 255, 255);
    
}

nav ul li a:hover {
    color: rgb(247, 242, 173);
}
h1{
    color: #FFF;
    text-indent: 50px;
    
}
h2{
    color: rgb(248, 248, 248);
    text-indent: 120px;
}
p{
    color: #FFF;
}

.fondo{
    background-image: url(../imagenes/fndngr.jpeg);
    height: auto; width: 100%;
    background-position: center;
    background-size: cover;
}

.perro{
    img {
    border-radius: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:auto;
    }
}